name: CI
on:
  push:
  pull_request:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
        - aarch64-windows
        - aarch64-macos
        - arm-linux-gnueabi
        - mips-netbsd
        - riscv64-freebsd
        - wasm32-freestanding
        - native
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Zig
      uses: mlugg/setup-zig@v2
      with:
        cache-key: ${{ matrix.target }}
    - if: ${{ matrix.target == 'native' }}
      name: Install packages
      uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: libx11-dev libxcursor-dev libglvnd-dev libwayland-dev libxkbcommon-dev libdecor-0-dev libvulkan-dev libudev-dev libpulse-dev
    - name: Build
      run: zig build -Dtarget=${{ matrix.target }} ${{ matrix.target == 'native' && '-fsys=wio' || '' }}
    - if: ${{ matrix.target != 'wasm32-freestanding' }}
      name: Build Vulkan
      working-directory: example/vulkan
      run: zig build -Dtarget=${{ matrix.target }} ${{ matrix.target == 'native' && '-fsys=wio' || '' }}
    - if: ${{ endsWith(matrix.target, '-windows') }}
      name: Build D3D11
      working-directory: example/d3d11
      run: zig build -Dtarget=${{ matrix.target }}
